@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&display=swap");

* {
  color: white;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

body {
  margin: 0;
  height: 100vh;
  background-color: #1f2022;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: "Raleway", sans-serif;
  background-image: url("../images/blob1.svg");
  background-size: 450px;
  background-repeat: no-repeat;
  background-position-x: 555px;
  background-position-y: center;
}

.container {
  max-width: 1000px;
  min-height: 97vh;
  margin: 20px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1281px) {
  body {
    background-position-x: 235px;
  }
}
